<header class="header">
  <div class="intestazione">
    <div class="date">{{todayDate}}</div>
    <div class="welcome">Benvenuto/a, {{utente}}</div>
    <div class="corso">Corso Database 2024/2025</div>
  </div>
    <div class="header-icon">
      <img src="assets\cappello.png" alt="Dashboard Icon">
      <img src="assets\database.png" alt="Dashboard Icon" class="db">
    </div>
  </header>
  
  <section class="main-content">
    <div class="avvisi">
      <h1>Avvisi</h1>
      <div class="flex-card">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </div>
    <div class="lezioni">
      <h1>Lezioni</h1>
      <div class="flex-card"></div>
    </div>
    <div class="esami">
      <h1>Esami</h1>
      <div class="flex-card">
        <div class="card"><button>View</button></div>
        <div class="card"><button>View</button></div>
      </div>
    </div>
  </section>
  