.header {
    grid-area: header;
    background-color: #d1e0ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100px;
    border-radius: 14px;
    background: linear-gradient(to right, #8ABBD5, #a8d0e6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .intestazione{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .intestazione .date{
    margin-bottom: 40px;
    color: rgb(227, 227, 227);
  }
  
  .header .date, .header .corso {
    font-size: 16px;
  }
  
  .header .welcome {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .header .header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    grid-area: content;
    padding-top: 20px;
    display: grid;
    grid-template-areas:
      "avvisi lezioni"
      "esami esami";
    gap: 20px;
  }


  .avvisi{
    display: flex;
    flex-direction: column;
  }

  .avvisi h1, .lezioni h1, .esami h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .avvisi .flex-card{
    grid-area: avvisi;
    display: flex;
    justify-content: space-between;
  }

  .avvisi .card{
    background-color: white !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 80px;
    border: 3px solid white;
  }

  .avvisi .card:hover, .esami .card:hover{
    border: 3px solid #8ABBD5;
  }
  
  .lezioni .flex-card{
    grid-area: lezioni;
    background-color: #8ABBD5;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .lezioni .flex-card:hover{
    background-color: #d1e0ff;
  }

  .esami{
    display: flex;
    flex-direction: column;
  }
  
  .esami .flex-card{
    grid-area: esami;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    background-color: #d1e0ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #d1e0ff;
    height: 75px;
  }
  
  button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #8ABBD5;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
  }
  
  button:hover{
    background-color: #488db3;
  }