<header class="header">
  <div class="intestazione">
    <div class="date">{{todayDate}}</div>
    <div class="welcome">Benvenuto/a, {{userName}}</div>
    <div class="corso">Corso Database 2024/2025</div>
  </div>
    <div class="header-icon">
      <img src="assets\cappello.png" alt="Dashboard Icon">
      <img src="assets\database.png" alt="Dashboard Icon" class="db">
    </div>
  </header>
  
  <section class="main-content">
    <div class="avvisi" [ngClass]="{'professor-theme': userType === 'professor'}">
      <ng-container *ngIf="userType === 'professor'">
        <div class="flex-card">
          <div class="card">
            <h1>Genera Nuovo Esame</h1>
            <img src="assets\genera_esame.png" alt="Genera Nuovo Esame">
          </div>
          <div class="card due" (click)="navigateToNuovoMateriale()">
            <h1>Inserisci Materiale Lezione</h1>
            <img src="assets\aggiungi_materiale.png" alt="Inserisci materiale lezione">
          </div>
          <div class="card tre" (click)="navigateToNuovoAvviso()">
            <h1>Nuovo Avviso</h1>
            <img src="assets\nuovo_avviso.png" alt="Nuovo Avviso">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="lezioni">
      <h1 (click)="navigateToLezioni()">Lezioni</h1>
      <div class="flex-card" (click)="navigateToLezioni()">
        <div *ngFor="let lezione of ultimeLezioni" class="card-lezioni">
          <h1>{{ lezione.ordine }}. {{ lezione.data }}</h1>
          <p> {{ lezione.argomento }}</p>
        </div>
      </div>
    </div>
    <ng-container *ngIf="userType !== 'professor'">
    <div class="esami">
      <h1>Esami</h1>
      <div class="flex-card">
        <div class="card"><button>View</button></div>
        <div class="card"><button>View</button></div>
      </div>
    </div>
  </ng-container>
  </section>
  