<div class="container">

    <aside class="sidebar">
        <div class="omino">
            <img src="assets\omino.png" alt="Dashboard Icon">
        </div>
      <ul>
        <li class="dashboard">
          <img src="assets\dashboard.png" alt="Dashboard Icon">
          Dashboard
        </li>
        <li>
          <img src="assets\esami.png" alt="Esami Icon">
          Esami
        </li>
        <li>
          <img src="assets\prenotati.png" alt="Prenotati Icon">
          Prenotati
        </li>
        <li>
          <img src="assets\allenati.png" alt="Allenati Icon">
          Allenati
        </li>
        <li>
          <img src="assets\corsi.png" alt="Corsi Icon">
          Corsi
        </li>
        <li>
          <img src="assets\prenotati.png" alt="Lezioni Icon">
          Lezioni
        </li>
        <li>
          <img src="assets\risultati.png" alt="Risultati Icon">
          Risultati
        </li>
        <li>
          <img src="assets\avvisi.png" alt="Avvisi Icon">
          Avvisi
        </li>
        <li (click)="onLogout()">
          <img src="assets/logout.png" alt="Logout Icon">
          Logout
        </li>
      </ul>
    </aside>
  
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  