<div id="main">
    <h1>Inserisci Nuovo Avviso</h1>
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Avviso</mat-label>
          <input matInput formControlName="testoAvviso">
          <mat-error *ngIf="regForm.get('testoAvviso')?.hasError('required')">
            Avviso è richiesto.
          </mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Corso</mat-label>
          <mat-select formControlName="corso">
            <mat-option *ngFor="let course of courses" [value]="course.id">
              {{ course.canale }} - {{ course.anno }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="regForm.get('corso')?.hasError('required')">
            Il corso è richiesto.
          </mat-error>
        </mat-form-field>
      
        <button mat-raised-button class="custom-button" type="submit" [disabled]="regForm.invalid">Inserisci</button>
      </form>
    </div>